@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Inter:wght@300;500&display=swap');

html,
body{
    margin: 0;
    padding: 0

}

body{
    /* width: 100vw;
    height: 100vh; */
    color: white;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/* .horizontal-scroll-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.horizontal-scroll-container section{
    scroll-snap-align: start;
} */

.navbar-glass-effect{
    position: fixed;
	width: 100%;
	background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    z-index: 100;
}

nav ul li{
    display: inline-block;
    margin-left: 3rem; 
}
nav ul li :hover{
    display: inline-block;
    cursor: pointer;
    /* border-bottom: 1px solid gold; */
    color: rgb(240, 237, 50) !important;
}

h1{
    font-size: 5rem;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    /* font-family: 'DM Sans', sans-serif; */
    font-weight: 700;
}

section{
    box-sizing: border-box;
    padding-top: 7rem;
}

.bg-mpgi{
    background-image: url("https://i.ibb.co/822xf0w/mpec-Outline.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* 822xf0w */
    /* RHxKZ35 */
    /* r4T2fx8 */
    /* xYYBKdQ */

}

/****************Cover Section************************/
#cover{
background: rgb(0,0,0);
/* background: linear-gradient(0deg, rgba(0,0,0,1) 27%, rgba(171,128,0,1) 100%); */
}

#cover .club-img{
    width: 100%;
}

#cover .club-name{
    font-size: 60px;
}

#cover .sponsor-img{
    width: 200px;
    display: block;
    margin: 0 auto;

}

#cover .cover-heading{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 6.5rem;
}

#cover .cover-tagline{
    font-size: 23px;
}

#cover .apply-button {
    border-color: #f1c40f;
    color: #fff;
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-out;
}

.custom-apply-button, .download-btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.custom-apply-button:hover, .custom-apply-button:focus {
    color: #fff;
    outline: 0;
}


#cover .apply-button:hover {
    background-position: 0;
}

.download-btn{
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #f1c40f;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* background-color: ; */
}

#cover .cover-dates{
    font-size: 2rem;
    position: relative;
    margin-top: 3rem;
}
#cover .cover-dates span{
    position: absolute;
    margin-top: 2px;
    font-size: 10px;
    
}
/****************About Section************************/
/****************About Hacks Section************************/
#abouthacks p{
    font-size: 23px;
}

/****************About Club Section************************/
#aboutclub .about-text{
    font-size: 23px;
}

/****************Schedule Section************************/
.schedule-height{
    min-height: 250vh;
}

.schedule-path{
    text-align: center;
}
/* "minHeight": "250vh" */
/****************Prize Section************************/
/****************Theme Section************************/
/****************Sponsor Section************************/
/****************faqs Section************************/
.faqs-questions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 6.5rem;
}
/****************Contact Section************************/
#contact .contact-links{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#contact .mpgi-card{
    width: 40rem;
    border-radius: 2rem;
}

#contact .contact-team img{
    width: 250px;
}

#contact .mpgi-logo{
    border-radius: 2rem 0 0 2rem;
}
/***************Theme  Page***********************/
.team-page{
    min-height: 100vh;
    max-width: 100%;
    padding: 6rem 5rem;
}

@media (max-width:480px) {
    .team-page{
        padding: 7rem 2rem; 
    }

    .width100{
        width: 100%;
    }
}

/****************Profile Card************************/
.profile-card{
    width: 15rem;
    height: 21rem;
    padding: 8em 0 0;
    color: white;
    /* background-color:  rgba(0, 0, 0, 0.4); */
    text-align: center;
    border: none !important;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    transition: transform 300ms ease;
    overflow: hidden;
    margin: auto;
}

.profile-card p{
    margin: 0 0;
}

.profile-card:hover{
    transform: scale(1.005);
}

.profile-card-content{
    background: linear-gradient( rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8));
    height: 100%;
    transform: translateY(80%);
    transition: transform 500ms ease;
}

.profile-card:hover .profile-card-content{
    transform: translateY(0);
}

.profile-card-content .profile-card-title{
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.6;
}

.profle-card:hover .profile-card-content .profile-card-title{
    line-height: 1.3;
}

.Associates{
    display: inline-block;  /* while setting it to a inline the background color doesn't show. Why it does after setting display to inline ??*/
    background-color: white;
    color: black;
    font-size: 0.9rem;
    margin: 1.1em;
    padding: 0.2em 0.7em;
    border-radius: 1.1em;
    transition: 100ms ease;
}

.Associates:hover{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 0.5px white solid;
    cursor: pointer;
}

@media (max-width:480px){
    h1{
        font-size: 3rem;
    }

    #cover .club-img{
        margin-top: 1rem;
        width: 50%;
    }

    #cover .club-name{
        font-size: 40px;
    }

    #cover .cover-heading{
        font-weight: 500;
        font-size: 2.6rem;
    }

    #cover .cover-tagline{
        font-size: 16px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #cover .cover-tagline p{
        color: white;
    }

    #cover .sponsor-img{
        width: 100px;
    }

    #cover .cover-dates{
        margin-top: 0;
    }

    .bg-mpgi{
        background-size: 100%;
    }

    .profile-card{
        width: 20rem;
        height: 27rem;
    }

    .profile-card-content{
        transform: translateY(87%);
    }

    .profile-card:hover .profile-card-content{
        transform: translateY(30%);
    }

    .schedule-card{
        position: relative;
        /* width: 10rem !important;
        height: 10rem !important; */
        width: 35vw !important;
        height: 15vh !important;
    }
    .faqs-questions{
        padding-left: 0;
        justify-content: center;
    }
    .theme-mobile{
        padding-left: 0 !important;
        justify-content: center;
    }
    .mobile-hidden{
        display: none !important;
    }
    #contact{
        padding-top: 0;
    }
    #contact .mpgi-card{
        width: 20rem;
    }

    #contact .contact-team{
        background-color: black;
    }
    #contact .mpgi-logo{
        border-radius: 2rem 2rem 0 0;
    }

    #aboutclub .about-text{
        font-size: 16px;
        text-align: center;
    }
    .schedule-height{
        min-height: 200vh;
    }
    .schedule-path{
        position: absolute;
        left: 25%;
        /* text-align: center; */
    }
    .schedule-card h3{
        font-size: 1rem;
    }
    .schedule-card p{
        font-size: 11px;
    }
}
