body{
    
    color: white;
    background-color: black;
}


.navbar {
        padding: 20px;
        

    
    
}

nav{
    font-size: 20px;
    
}

   
    
    
   
    

nav ul li{
    display: inline-block;
    margin-left: 3rem;
   
    
    
}
nav ul li :hover{
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid gold;
    
    
    color: rgb(240, 237, 50) !important;
   
   
}


h1{
    font-size: 5rem;
    text-align: center;
}

/****************Cover Section************************/
.cover{
    /* color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}

/****************About Section************************/
.about{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}
/****************Schedule Section************************/
/****************Prize Section************************/
/****************Theme Section************************/
.theme{
    height: 100vh;
}
/****************Sponsor Section************************/
/****************FAQ Section************************/
/****************Contact Section************************/


